h2 {
  text-align: 'center';
  font-family: Times New Roman;
}
h3 {
  text-align: 'center';
  width: '200px';
  font-family: Times New Roman;
  text: white
  background-color: darkgrey;
}
p {
  font-family: Times New Roman
}

titlePanel {
  font-family: Times New Roman;
  background-color: darkgrey
}

body {
  color: 'blue';
  font-family: Times New Roman
  background-color: 'green';
  margin: 0;
}

/* Adding background flair */
.bgStyle {
  background: url(https://wallpaper.dog/large/20370949.jpg) rgba(0, 0, 0, 0.65);
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-blend-mode: multiply;
}

/* Making the home page pop */
.titleStyle {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 50px;
  color: white;
}